In [ ]:
#leer la tabla de la web con panda
import pandas as pd

linkToFile='https://docs.google.com/spreadsheets/d/e/2PACX-1vSPVJIoDhupNyUpYD65FSHt6kMmF_KaxE2RD6CV1FOMP4vVw7WfKQMqpqo0ieD9vhMAmYP1NpBmw0od/pub?gid=658985149&single=true&output=csv'
dataUN=pd.read_csv(linkToFile)
#abrir la tabla
dataUN

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#para conocer el tipo de datos de la tabla
#object: texto
#float64: numeros con puntos
dataUN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 15 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Back                                                 192 non-null    object
 1   Table 1. Human Development Index and its components  261 non-null    object
 2   Unnamed: 2                                           213 non-null    object
 3   Unnamed: 3                                           0 non-null      float64
 4   Unnamed: 4                                           214 non-null    object
 5   Unnamed: 5                                           1 non-null      object
 6   Unnamed: 6                                           214 non-null    object
 7   Unnamed: 7                                           101 non-null    object
 8   Unnamed: 8                                           214 non-null    object
 9   Unnamed: 9                                           87 non-null     object
 10  Unnamed: 10                                          214 non-null    object
 11  Unnamed: 11                                          11 non-null     object
 12  Unnamed: 12                                          212 non-null    object
 13  Unnamed: 13                                          1 non-null      object
 14  Unnamed: 14                                          212 non-null    object
dtypes: float64(1), object(14)
memory usage: 32.5+ KB

In [ ]:
#con la funcion .iloc eliminamos las filas que no contienen informacion de los paises
dataUN_1=dataUN.iloc[7:201,:]
dataUN_1

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
7,1,Switzerland,962,NaN,84.0,NaN,16.5,NaN,13.9,NaN,"66,933",NaN,5,NaN,3
8,2,Norway,961,NaN,83.2,NaN,18.2,c,13.0,NaN,"64,660",NaN,6,NaN,1
9,3,Iceland,959,NaN,82.7,NaN,19.2,c,13.8,NaN,"55,782",NaN,11,NaN,2
10,4,"Hong Kong, China (SAR)",952,NaN,85.5,d,17.3,NaN,12.2,NaN,"62,607",NaN,6,NaN,4
11,5,Australia,951,NaN,84.5,NaN,21.1,c,12.7,NaN,"49,238",NaN,18,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,187,Burundi,426,NaN,61.7,NaN,10.7,e,3.1,e,732,NaN,4,NaN,187
197,188,Central African Republic,404,NaN,53.9,NaN,8.0,e,4.3,NaN,966,NaN,1,NaN,188
198,189,Niger,400,NaN,61.6,NaN,7.0,e,2.1,n,"1,240",NaN,-3,NaN,189
199,190,Chad,394,NaN,52.5,NaN,8.0,e,2.6,u,"1,364",NaN,-7,NaN,190
200,191,South Sudan,385,NaN,55.0,NaN,5.5,e,5.7,NaN,768,aa,-1,NaN,191

In [ ]:
dataUN_1.columns.to_list()

['Back',
 'Table 1. Human Development Index and its components',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14']

In [ ]:
#con la funcion . loc selecciono las columnas con las que me quiero quedar (las que tienen informacion completa)
keep=['Back','Table 1. Human Development Index and its components','Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 10','Unnamed: 12','Unnamed: 14']
dataUN_1=dataUN_1.loc[:, keep]

In [ ]:
#renombro los encabezados de la tabla
renombrar={'Back':'Nº','Table 1. Human Development Index and its components':'Country','Unnamed: 2':'Human Development Index (HDI)','Unnamed: 4':'Life expectancy at birth','Unnamed: 6':'Expected years of schooling','Unnamed: 8':'Mean years of schooling','Unnamed: 10':'Gross national income (GNI) per capita','Unnamed: 12':'GNI per capita rank minus HDI rank','Unnamed: 14':'HDI rank for 2020'}
dataUN_1.rename(columns=renombrar,inplace=True)
dataUN_1

,Nº,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank for 2020
7,1,Switzerland,962,84.0,16.5,13.9,"66,933",5,3
8,2,Norway,961,83.2,18.2,13.0,"64,660",6,1
9,3,Iceland,959,82.7,19.2,13.8,"55,782",11,2
10,4,"Hong Kong, China (SAR)",952,85.5,17.3,12.2,"62,607",6,4
11,5,Australia,951,84.5,21.1,12.7,"49,238",18,5
...,...,...,...,...,...,...,...,...,...
196,187,Burundi,426,61.7,10.7,3.1,732,4,187
197,188,Central African Republic,404,53.9,8.0,4.3,966,1,188
198,189,Niger,400,61.6,7.0,2.1,"1,240",-3,189
199,190,Chad,394,52.5,8.0,2.6,"1,364",-7,190
200,191,South Sudan,385,55.0,5.5,5.7,768,-1,191

In [ ]:
#detectar la presencia de simbolos
set(dataUN_1['Gross national income (GNI) per capita'].str.extractall('(\W)').loc[:,0].to_list()) - set('.')

{','}

In [ ]:
#eliminar las comas
dataUN_1['Gross national income (GNI) per capita'] = dataUN_1['Gross national income (GNI) per capita'].str.replace(',', '')
dataUN_1

,Nº,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank for 2020
7,1,Switzerland,962,84.0,16.5,13.9,66933,5,3
8,2,Norway,961,83.2,18.2,13.0,64660,6,1
9,3,Iceland,959,82.7,19.2,13.8,55782,11,2
10,4,"Hong Kong, China (SAR)",952,85.5,17.3,12.2,62607,6,4
11,5,Australia,951,84.5,21.1,12.7,49238,18,5
...,...,...,...,...,...,...,...,...,...
196,187,Burundi,426,61.7,10.7,3.1,732,4,187
197,188,Central African Republic,404,53.9,8.0,4.3,966,1,188
198,189,Niger,400,61.6,7.0,2.1,1240,-3,189
199,190,Chad,394,52.5,8.0,2.6,1364,-7,190
200,191,South Sudan,385,55.0,5.5,5.7,768,-1,191

In [ ]:
import os

try:
    os.mkdir('data')
except FileExistsError:
    pass

dataUN_1.to_csv(os.path.join("data", "dataUN_1.csv"), index=False)